
<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            var Notification_Msg = $("#Notification_Msg").val().trim();
            $('.err').remove();
            var status = true;
            if (Notification_Msg.length == 0) {
                $("#Notification_Msg").after("<span class='err'>Enter your message</span>");
                status = false;
            } else if (Notification_Msg.length < 10) {
                $("#Notification_Msg").after("<span class='err'>Decribe your message briefly.</span>");
                status = false;
            }
            $(".err").addClass("text-danger");
            return status;
        });
        $("#addNotification").click(function () {
            $("#newUpdate").show();
            $("#previousNotification").hide();
        });
        $("#previ_Notification").click(function () {
            $("#newUpdate").hide();
            $("#previousNotification").show();
        });
    });
</script>
<ul class="nav nav-tabs my-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <h5 class="nav-link active" id="addNotification" data-toggle="tab">Add Notification </h5>
    </li>
    <li class="nav-item" role="presentation">
        <h5 id="previ_Notification" data-toggle="tab" class="nav-link">Manage Previous Notification</h5>
    </li>
</ul>
<div class="container py-5 rounded shadow-lg" id="newUpdate"  style="background: linear-gradient(185deg,#bae752,#7b65c3)">
    <% if(locals.addmsg){ %>
        <p id="presponse" class="alert alert-dark text-center h4">
            <%= addmsg%>
        </p>
    <% } %>

    <div class="row py-5 ">
        <div class="col-sm-5 my-5 pb-5">
            <h1>Add Some Update</h1>
        </div>
        <div class="col-sm-6 py-5 bg-light rounded shadow">
            <form action="/Admin/News_Update" method="post">
                <textarea   id="Notification_Msg" name="Notification_Msg" placeholder = "Type your notification here...." class = "form-control" style = "resize:none;" ></textarea><br />
                <input type="submit" id="submit" class="btn btn-success btn-block" value="Save" />
            </form>
        </div>
    </div>
</div>

<div  id="previousNotification" style="display:none;min-height: 400px;">
    <div class="table-responsive">
        <% if(Notification!==undefined){ %>
        <table class="table table-hover text-center" >
            <thead>
                <tr class="text-dark">
                    <th>S.No</th>
                    <th>Notification Message</th>
                    <th>Notification Date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <%  Notification.map(function(e,ind){ %>
                    <tr>
                    <td><%=ind + 1%></td>
                    <td><%= e.Notification_Msg%></td>
                    <td><%= e.Notification_DT%></td>
                    <td><a href="/Admin/DeleteNotification?pk=<%=e._id%>" class="btn btn-warning">Delete</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <% }else{ %>
            <h5 class="text-info">There are no more notification. You need to create one.</h5>
        <% } %>
    </div>
</div>
