
<div class="container mt-5">
    <h2>Result Management</h2>
    <% if(locals.msg){ %>
        <p id="presponse" class="alert alert-dark text-center h4 " style="min-height:40px; width:100%;display:none;">
        <%=msg%>
        </p>
    <% } %>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead class="table-info text-success">
                    <tr>
                        <th>Name (Email)</th>
                        <th>Course</th>
                        <th>Subject of Exam</th>
                        <th>Marks</th>
                        <th>Exam's Date</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% 
                    if(Result!=undefined)
                    Results.forEach(function(e){ %>
                            <tr>
                                <td><%=e.Name (e.Email_OF_Student) %>td>
                                <td><%=e.Course%></td>
                                <td><%=e.Subject%></td>
                                <td><%=e.Marks_Obtained / e.Full_Marks%></td>
                                <td><%=e.Date_Of_Exam%></td>
                                <td><a href="/Admin/DeleteResult?pk=<%=e._id%>" class=" nav-link">Delete</a></td>
                            </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
</div>