   
<script>
    $(document).ready(function () {
        $("#Study").click(function () {
            $("#StudyMat").show();
            $("#UploadStudyMaterial").hide();
        });
        $("input,textarea").addClass("form-control");
        //Change on the selecting of file tag
        $(".custom-file-input").change(function () {
            var filename = $(this).val().split("\\").pop();
            $(".custom-file-label").html(filename);
        });

        $("#submit").click(function () {
            var Subject = $("#Subject").val().trim();
            var Description = $("#Description").val().trim();
            var StudyMaterial = $("#StudyMaterial").val().trim();
            $('.err').remove();
            var result = true;
            if (Subject.length == 0) {
                result = false;
                $("#Subject").after("<span class='err'>Enter Subject.<br></span>");
            }
            if (Description.length < 8) {
                result = false;
                $("#Description").after("<span class='err'>Describe about study material.<br></span>");
            }
            if (StudyMaterial.length == 0) {
                result = false;
                $("#StudyMaterial").after("<span class='err'>Upload study material.<br></span>")
            }
            $('.err').addClass("text-warning");
            return result;
        });
        $("#Upload").click(function () {
            $("#UploadStudyMaterial").show();
            $("#StudyMat").hide();
        });


    });
</script>
<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <h3 class="nav-link text-info active" id="Upload" data-toggle="tab">Upload Study Material </h3>
    </li>
    <li class="nav-item" role="presentation">
        <h3 id="Study" data-toggle="tab" class="nav-link text-info">Study Material</h3>
    </li>
</ul>
<div class="container my-5 " id="UploadStudyMaterial">
    <% if(locals.msg){ %>
        <p id="presponse" class="alert alert-dark text-center h4 " style="min-height:40px; width:100%;display:none;">
        <%=msg%>
        </p>
    <% } %>
    <div class="row py-5 px-5" style="background:linear-gradient(135deg,#423838,#bc81eb)">
        <div class="col-sm-6 pt-5">
            <h2 class="text-success mt-3">
                Upload study materials for students.
            </h2>
        </div>
        <div class="col-sm-5">

            <form action="/Admin/StudyMaterial" method="post" enctype="multipart/form-data">
                <label for="Subject">Subject</label>
                <input id="Subject" name="Subject" placeholder="Subject" type="text" value="" />
                <label for="Description">Description</label>
                <textarea cols="20" id="Description" name="Description" placeholder="Description about study material" rows="2" style="resize:none;">
</textarea>
                <label for="StudyMaterial">StudyMaterial</label>
                <div class="custom-file mb-4">
                    <label class="custom-file-label">Study Material</label>
                    <input type="file" class="custom-file-input" id="StudyMaterial" name="StudyMaterial" />
                </div>
                <input type="submit" id="submit" value="Save" class="btn btn-info" />
            </form>
        </div>
    </div>
</div>

<div class="container mt-2" id="StudyMat" style="display:none"  >
        <h2>Study Materials</h2>
        
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead class="table-info text-success">
                        <tr>
                            <th>S.No</th>
                            <th>Subject</th>
                            <th>Description</th>
                            <th>Attachment</th>
                            <th>Uploaded Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% 
                            var x = 1;
                            if(StudyMaterials!=undefined){
                                StudyMaterials.forEach(function(e){ %>
                                    <tr>
                                        <td><%x%></td>
                                        <td><%=e.Subject%></td>
                                        <td><%=e.Description%></td>
                                        <td><a href="/Admin/Download?file=StudyMaterials/<%=e.StudyMaterial%>">Download</td>
                                        <td><%=e.Date%></td>
                                        <td><a href="/Admin/DeleteStudy?pk=<%=e._id%>" class="btn btn-warning">Remove</a></td>
                                    </tr>
                       <% x++;
                                 });
                            } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

