<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-lg-center text-success">Study Materials</h1>
            <table class="table table-hover  table-bordered text-center">
                <thead>
                    <tr class="text-dark table-primary">
                        <th>S.No.</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Study Materials</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% 
                    var x = 1;
                    if(StudyMaterials!=undefined){
                        StudyMaterials.forEach(function(e){ %>
                            <tr>
                                <td><%=x%></td>
                                <td><%=e.Subject%></td>
                                <td><%=e.Description%></td>
                                <td><a href="/Student/Download?file=StudyMaterials/<%=e.StudyMaterial%>">Download</td>
                                <td><%=e.Date%></td>
                            </tr>
               <% x++;
                         });
                    } %>
                </tbody>
            </table>
        </div>
    </div>
</div>



