<div class="container mt-5 pt-5" id="BeforeExam" style="min-height: 400px;">
    <center class=" mx-lg-5">
        <div class="row mt-5 pt-5 mx-lg-5">
            <div class="col-sm-12 mt-5 pt-lg-5">
                 <%if ( locals.msg)
                 { %>
                    <p class="alert alert-dark text-center h2"><%=msg%></p>
                 <%}
                 else
                 { %>
                <h5>Don't leave the page after starting the exam otherwise exam will be submitted automatically.</h5>
                <a class="btn btn-warning w-25" href="/Student/Greetings">Back</a>
                <a class="btn btn-success w-25" id="start">Start</a>
                 <%}%>
            </div>
        </div>
    </center>
</div>

<div class="container mt-5 pb-5" id="Exam" style="display:none;">
    <!--Timer-->
    <span class="alert alert-success text-dark float-right" id="timer" style="font-size:30px;display:none;"></span>
    <div class="row">
        <div class="col-sm-12 py-4">
            <form action="/Student/Test?sub=<%=locals.Subject%>" method="post">
               <% if(locals.Questions)
                  Questions.forEach(function(e){
                  var x = 1; %>
                  <div class="row">
                    <div class="col-sm-12">
                        Que <%=x %> : <%=e.Question %><br />
                        <input type="radio" name="ANS_<%=e._id%>" value="<%=e.Option1%>" /><%=e.Option1 %><br />
                        <input type="radio" name="ANS_<%=e._id%>" value="<%=e.Option2%>" /><%=e.Option2 %><br />
                        <input type="radio" name="ANS_<%=e._id%>" value="<%=e.Option3%>" /><%=e.Option3%><br />
                        <input type="radio" name="ANS_<%=e._id%>" value="<%=e.Option4%>" /><%=e.Option4%><br /> <hr />
                    </div>
                </div>
                 <% }); %>
                <input type="reset" value="Reset" class="btn btn-warning" />
                <input type="submit" value="Submit" class="btn btn-success" id="examButton" />
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("[type*='radio']").next().addClass("mt-2");
        //Adding some effects
        $("#BeforeExam").fadeToggle(10).fadeToggle(1000);
        //To start the exam
        $("#start").click(function () {
            $("#BeforeExam").hide();
            $("#Exam").slideToggle();
            setInterval(checktiming, 1000);
        });
        //Timer for exam
        var d = new Date();
        d.setMinutes(20);
        d.setSeconds(0);
        var min = d.getMinutes();
        var sec = d.getSeconds();
        //function for timer
        function checktiming() {
            $("#timer").show();
            sec = sec - 1;
            if ((min == 0 && sec == 0)) {
                $("#examButton").trigger("click");
            }
            if (sec == 0) {
                sec = 59;
                min = min - 1;
            }
            if (sec < 10 && min < 10)
                $("#timer").text("0" + min + ":0" + sec);
            else if (sec < 10)
                $("#timer").text(min + ":0" + sec);
            else if (min < 10)
                $("#timer").text("0" + min + ":" + sec);
            else
                $("#timer").text(min + ":" + sec);
        }
    });
</script>
