
<script>
    $(document).ready(function () {
        $("#SubmittedAssBtn").click(function () {
            $("#Assignment").hide();
            $("#myAssignment").show();
        });
        $("#Assign").click(function () {
            $("#Assignment").show();
            $("#myAssignment").hide();
        });

    });
</script>
<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <h5 class="nav-link active text-info" id="Assign" data-target="#Assignment" data-toggle="tab">Assignments</h5>
    </li>
    <li class="nav-item" role="presentation">
        <h5 id="SubmittedAssBtn"  data-toggle="tab" data-target="#myAssignment"  class="nav-link text-info">My Submitted Assignment</h5>
    </li>
</ul>
<div class="mt-2" id="Assignment" style="min-height: 400px;">
    <div class="row">
        <div class="col-sm-12">
            <h4>Given Assignment</h4>
            <% if(Assignment!=undefined) { %>
            <table class="table table-hover">
                <thead class="table-info text-success">
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Uploaded Date</th>
                        <th>Deadline</th>
                        <th>Attachment</th>
                    </tr>
                </thead>
                <tbody>
                    <%  Assignment.forEach(function(e){ %>
                            <tr>
                                <td><%=e.Title%></td>
                                <td><%=e.Description%></td>
                                <td><%=e.Date%></td>
                                <td><%=e.Deadline%></td>
                                <td><a href="/Student/Download?file=/AssignmentAttachments/<%=e.Attachment%>" class="nav-link">View</a></td>
                            </tr>
                       <%});%>
                </tbody>
            </table>
            <% }else{ %>
                <h5 class="text-info">There are no assignments available yet.</h5>
            <% } %>
        </div>
    </div>
</div>


<div class="mt-2" id="myAssignment" style="display:none;min-height: 400px;">
    <div class="row">
        <div class="col-sm-12">
            <h4>Submitted Assignments</h4>
            <% if(SubmittedAssignment!==undefined && SubmittedAssignment.length>0) { %>
            <table class="table table-hover">
                <thead class="table-info text-success">
                    <tr>
                        <th>Subject</th>
                        <th>Assignment</th>
                        <th>Uploaded Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% SubmittedAssignment.forEach(function(e){ %>
                            <tr>
                                <td><%=e.Subject%></td>
                                <td><a href="/Student/Download?file=/SubmittedAssignment/<%=e.Assignment%>" class="nav-link">View</a></td>
                                <td><%=e.Date%></td>
                            </tr>
                       <%});%>
                </tbody>
            </table>
            <% }else{ %>
                <h5 class="text-info">You have not submitted any assignment yet.</h5>
            <% } %>
        </div>
    </div>
</div>